<html>
    <head>
        <title>Embedded Analytics with Tableau</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div style="background-image: url('/static/images/pink.jpg');background-size:cover;background-repeat:no-repeat;width:100vw;height:100vh;">
            <div class="navbarmenu" id="navigation">

                <div style="text-align:center;">
                    <div style="font-size: 25px;font-weight:bold;">
                        <a class="menuitem mr-3" href="/index" style="color: darkblue;">Home</a>
                        <a class="menuitem mr-3" href="/api/divorcedata" style="color: darkblue;">Data</a>
                        <a class="menuitem mr-3" href="/visualizations" style="color: darkblue;">Visualizations</a>
                        <a id='cont1' href='#' class="menuitem mr-3" style="color: darkblue;">Contributors</a>
                  
                    </div>
                </div>
        
            </div>
            
            <div class="d-flex flex-wrap justify-content-center" id='header'>
                <div><span style="font-size: 50px;font-weight: bold;color:darkblue;margin-top: 20px;;">Before You Say I Do</span></div>
            </div>

            
        </div>
    </body>

    <script type='text/javascript'>
        var divElement = document.getElementById('viz1623810761186');
        var vizElement = divElement.getElementsByTagName('object')[0];        
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>

    <script src="../static/js/results.js"></script>
    
</html>